<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filmster</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css">
</head>
<body>
        {{>navbar}}
        {{>header}}
        <div class="movie-section">
            <h2 class="movie-section__heading">Popular</h2>
            <div class="movie-section__popular movie-section__box"></div>
            <h2 class="movie-section__heading">Top Rated</h2>
            <div class="movie-section__toprated movie-section__box"></div>
            <h2 class="movie-section__heading">Upcomming</h2>
            <div class="movie-section__upcomming movie-section__box"></div>
            <h2 class="movie-section__heading">Favorites</h2>
            <div class="movie-section__favorites movie-section__box"></div>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
</body>
</html>