<header>
        <h1>F<span class="green-title">ilmster</span></h1>
        <form>
            <input class="searchbox" type="text" placeholder="Search...">
           <button class="searchbox__button">Search</button>
        </form>
</header>