<div id="nav-bar">
  <input id="nav-toggle" type="checkbox">
  <label for="nav-toggle" id="nav-back-to-page"></label>
  <div class="nav-slide-menu">
    <label for="nav-toggle" id="nav-toggle_label">&#8801;</label>
    <nav class="nav-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Sign In</a></li>
    </nav>
  </div>
</div>