<div class="navigation">
  <input type="checkbox" id="navi-toggle" class="navigation__checkbox">
  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>
  <nav class="navigation__nav">
    <ul class="navigation__list">
      {{!-- <li class="navigation__item navigation__section">Discover</li>
      <li class="navigation__item"><a href="#" class="navigation__link">Popular</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Top Rated</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Upcoming</a></li> --}}
      <li class="navigation__item navigation__section">Generes</li>
      <li class="navigation__item"><a href="#" class="navigation__link">Action</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Adventure</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Animation</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Comedy</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Crime</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Documentary</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Drama</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Family</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Fantasy</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">History</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Horror</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Music</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Mystery</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Romance</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Science Fiction</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">TV Movie</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Thriller</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">War</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Western</a></li>
    </ul>
  </nav>
</div>